
html, body {
margin: 0;
height: 100%;
background-color: #000;
}
body {
display: flex;
align-items: center;
}

html, img {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-ms-user-drag: none;
user-drag: none;
}
nav {
float: left;
height: 100%;
width: 96px;
background-color: #0C62A6;
text-align:center;
overflow: auto;
}
main {
position: absolute;
}

article {
position: relative;
background-color: #000;
color: #fff;
height: 100%;
}

nav ul {
list-style-type: none;
padding-left:0;
}

nav li {
padding: 8px 0;
}

nav a img {
-webkit-filter: none;
-moz-filter: none;
-o-filter: none;
filter: none;
position: relative;
width: 64px;
}

nav a.started img{
-webkit-filter: drop-shadow(0px 0px 1px #fff);
-moz-filter: drop-shadow(0px 0px 1px #fff);
-ms-filter: drop-shadow(0px 0px 1px #fff);
-o-filter: drop-shadow(0px 0px 1px #fff);
filter: drop-shadow(0px 0px 1px #fff);
}

nav a.todo img{
-webkit-filter: drop-shadow(0px 0px 8px #fff);
-moz-filter: drop-shadow(0px 0px 8px #fff);
-ms-filter: drop-shadow(0px 0px 8px #fff);
-o-filter: drop-shadow(0px 0px 8px #fff);
filter: drop-shadow(0px 0px 8px #fff);
}

nav a {
height: 64px;
}