svg {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
svg:not(.done) {
  cursor: pointer;
}
svg.fail {
  cursor: not-allowed;
}
svg text {
  pointer-events: none;
}
main img {
  position:absolute;
  pointer-events:none;
  width:16%;
}
img#cheese {
  left: 72.5%;
  top:74%;
}